config/.venv
config/asm
config/assets
config/include
config/src
config/SLUS_201.84
config/SLUS_201.84.ld
config/undefined_funcs_auto.txt
config/undefined_syms_auto.txt
src/ps2/veronica/prog/*.o
elf/*.o
elf/*.s
elf/main.elf
elf/report.txt
elf/iso/data
elf/iso/RE_CVX.iso
elf/iso/RECVX_NEW.iso
elf/iso/RECVX_FILELIST.txt
compile_config.json
compile_wibo.py
